@media (max-width: 991.98px) {
    .offcanvas-collapse {
      position: fixed;
      top: 56px; /* Height of navbar */
      bottom: 0;
      left: 100%;
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
      overflow-y: auto;
      visibility: hidden;
      background-color: #343a40;
      transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }
    .offcanvas-collapse.open {
      visibility: visible;
      transform: translateX(-100%);
    }
  }
  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
  }
  
  .nav-underline .nav-link:hover {
    color: #007bff;
  }
  
  .nav-underline .active {
    font-weight: 500;
    color: #343a40;
  }
  
  .text-white-50 { color: rgba(255, 255, 255, .5); }
  
  .card-custom {
    overflow: hidden;
    min-height: 450px;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  }
  
  .card-custom-img {
    height: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
    background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);
  }
  
  /* First border-left-width setting is a fallback */
  .card-custom-img::after {
    position: absolute;
    content: '';
    top: 161px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 40px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 545px;
    border-left-width: calc(575px - 5vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
  }
  
  .card-custom-avatar img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    position: absolute;
    top: 100px;
    left: 1.25rem;
    width: 100px;
    height: 100px;
  }
.custom-footer{
  background: inherit; border-color: inherit;
}  



/* #lightmode , #darkMode{
  cursor: pointer;   
  margin-right: 11px;margin-bottom: 0;float: right;
} */

#darkMode:hover,
#darkMode:focus {
  filter: none;
}

#darkMode.clicked {
  filter: none !important;
}
:root {
  --blue: rgb(0, 0, 0);
  --white: rgb(236, 236, 236);
}
body.light {
  --background-color: var(--white);
  --text-color: var(--blue);
}
body.dark {
  --background-color: var(--blue);
  --text-color: var(--white);
}
body {
  background: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease-in-out, color 0.6s ease-in-out;
}

.dark .hadi h1{
  color: #000 !important;
}
.light .hadi h1{
  color: red !important;
}
nav {
  
  background: var(--text-color);
}

nav a {  
  color: var(--background-color);
}
.switcher{
  float: right !important;
  width: 35px !important;
  position: relative;
  overflow: hidden;
  margin-right: 1px;
}
.sun{
  float: right;
  margin-right: 37px;

}
.moon{
  float: right;
  position: relative;
}


